body {
    margin: 0;
}

.floor {
    display: flex;
    justify-content: center;
}

.floor-content {
    width: 960px;
    height: 100%;
}

#header {
    background: url("../img/bgk-header.png") no-repeat;
    background-size: cover;
    height: 670px;
}

#floor-1 {
    height: 100px;
}

#floor-2 {
    height: 200px;
}

#floor-3 {
    height: 300px;
}

#floor-4 {
    height: 400px;
}

.video {
    width: 960px;
}